*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

$main-color:#1BBC9B;
$second-color:#BA71DA;
$third-color:#F76570;
